@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css">
</head>
<body>
    <div class="workflow">
        @RenderBody()
    </div>
</body>
</html>
