@{
    Layout = null;
}

    <div>
        <div><a href="/">Профиль</a></div>
        <div><a href="~/Pages/WorkFlow.cshtml">Начать работу</a></div>
        <div><a href="~/Pages/Checker.cshtml">Проверка документов</a></div>
        <div><a href="/">Администрирование</a></div>
        <div><a href="~/Pages/DocumentsEditor.cshtml">Редактор документов</a></div>
        <div><a href="~/Pages/PatternsEditor.cshtml">Редактор шаблонов</a></div>
        <div><a href="/">API для вывода</a></div>
    </div>