@{
    Layout = null;
}

    <div>
        <p><a href="/">Профиль</a></p>
        <p><a href="~/Pages/WorkFlow.cshtml">Начать работу</a></p>
        <p><a href="~/Pages/Checker.cshtml">Проверка документов</a></p>
        <p><a href="/">Администрирование</a></p>
        <p><a href="~/Pages/DocumentsEditor.cshtml">Редактор документов</a></p>
        <p><a href="~/Pages/PatternsEditor.cshtml">Редактор шаблонов</a></p>
        <p><a href="/">API для вывода</a></p>
    </div>
