@{
    Layout = "~/Layouts/_MainLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <img src="~/Pages/DocumentImage" />
    </div>
</body>
</html>